@font-face {
    font-family: "Victor Narrow";
    font-weight: 100;
    font-style: normal;
    src: url("./VictorNarrowLite-Hairline.woff") format("woff");
    font-display: block
}

@font-face {
    font-family: "Victor Narrow";
    font-weight: 200;
    font-style: normal;
    src: url("./VictorNarrowLite-Thin.woff") format("woff");
    font-display: block
}

@font-face {
    font-family: "Victor Narrow";
    font-weight: 300;
    font-style: normal;
    src: url("./VictorNarrowLite-Light.woff") format("woff");
    font-display: block
}

@font-face {
    font-family: "Victor Narrow";
    font-weight: 400;
    font-style: normal;
    src: url("./VictorNarrowLite-Regular.woff") format("woff");
    font-display: block
}

@font-face {
    font-family: "Victor Narrow";
    font-weight: 500;
    font-style: normal;
    src: url("./VictorNarrowLite-Medium.woff") format("woff");
    font-display: block
}

@font-face {
    font-family: "Victor Narrow";
    font-weight: 600;
    font-style: normal;
    src: url("./VictorNarrowLite-Semibold.woff") format("woff");
    font-display: block
}

@font-face {
    font-family: "Victor Narrow";
    font-weight: 700;
    font-style: normal;
    src: url("./VictorNarrowLite-Bold.woff") format("woff");
    font-display: block
}

@font-face {
    font-family: "Victor Narrow";
    font-weight: 800;
    font-style: normal;
    src: url("./VictorNarrowLite-Black.woff") format("woff");
    font-display: block
}

@font-face {
    font-family: "Victor Narrow";
    font-weight: 100;
    font-style: italic;
    src: url("./VictorNarrowLite-HairlineItalic.woff") format("woff");
    font-display: block
}

@font-face {
    font-family: "Victor Narrow";
    font-weight: 200;
    font-style: italic;
    src: url("./VictorNarrowLite-ThinItalic.woff") format("woff");
    font-display: block
}

@font-face {
    font-family: "Victor Narrow";
    font-weight: 300;
    font-style: italic;
    src: url("VictorNarrowLite-LightItalic.woff") format("woff");
    font-display: block
}

@font-face {
    font-family: "Victor Narrow";
    font-weight: 400;
    font-style: italic;
    src: url("VictorNarrowLite-RegularItalic.woff") format("woff");
    font-display: block
}

@font-face {
    font-family: "Victor Narrow";
    font-weight: 500;
    font-style: italic;
    src: url("VictorNarrowLite-MediumItalic.woff") format("woff");
    font-display: block
}

@font-face {
    font-family: "Victor Narrow";
    font-weight: 600;
    font-style: italic;
    src: url("VictorNarrowLite-SemiboldItalic.woff") format("woff");
    font-display: block
}

@font-face {
    font-family: "Victor Narrow";
    font-weight: 700;
    font-style: italic;
    src: url("VictorNarrowLite-BoldItalic.woff") format("woff");
    font-display: block
}

@font-face {
    font-family: "Victor Narrow";
    font-weight: 800;
    font-style: italic;
    src: url("VictorNarrowLite-BlackItalic.woff") format("woff");
    font-display: block
}

@font-face {
    font-family: "Victor Narrow Variable";
    font-display: block;
    src: url("VictorNarrowLite-Variable.woff2") format("woff2-variations");
}

[data-family="Victor Narrow"] {
    font-family: "Victor Narrow"
}