---
import App from "../layouts/app.astro";
---
<App>
	<section class="bg-gradient-to-t mx-auto gap-4 max-w-md ring ring-inset ring-accent-a5 from-accent-6 to-accent-5 m-8 rounded-2xl flex items-center justify-center flex-col p-8">
		<h1>Astro v5.beta + Tailwind v4.alpha + Radix Color</h1>
		<h2 class="text-accent-11 px-2 py-1 bg-accent-4 rounded-lg ring ring-inset ring-accent-a5 text-sm uppercase tracking-widest">Preconfigured</h2>
	</section>
</App>