
@font-face {
    font-family: "Labil Grotesk";
    font-weight: 100;
    font-style: normal;
    src: url(./LabilGroteskLite-Hairline.woff) format("woff");
    font-display: block
}

@font-face {
    font-family: "Labil Grotesk";
    font-weight: 200;
    font-style: normal;
    src: url(./LabilGroteskLite-Fine.woff) format("woff");
    font-display: block
}

@font-face {
    font-family: "Labil Grotesk";
    font-weight: 300;
    font-style: normal;
    src: url(./LabilGroteskLite-Thin.woff) format("woff");
    font-display: block
}

@font-face {
    font-family: "Labil Grotesk";
    font-weight: 400;
    font-style: normal;
    src: url(./LabilGroteskLite-Light.woff) format("woff");
    font-display: block
}

@font-face {
    font-family: "Labil Grotesk";
    font-weight: 500;
    font-style: normal;
    src: url(./LabilGroteskLite-Regular.woff) format("woff");
    font-display: block
}

@font-face {
    font-family: "Labil Grotesk";
    font-weight: 600;
    font-style: normal;
    src: url(./LabilGroteskLite-Medium.woff) format("woff");
    font-display: block
}

@font-face {
    font-family: "Labil Grotesk";
    font-weight: 700;
    font-style: normal;
    src: url(./LabilGroteskLite-Bold.woff) format("woff");
    font-display: block
}

@font-face {
    font-family: "Labil Grotesk";
    font-weight: 800;
    font-style: normal;
    src: url(./LabilGroteskLite-Black.woff) format("woff");
    font-display: block
}

@font-face {
    font-family: "Labil Grotesk";
    font-weight: 100;
    font-style: italic;
    src: url(./LabilGroteskLite-HairlineItalic.woff) format("woff");
    font-display: block
}

@font-face {
    font-family: "Labil Grotesk";
    font-weight: 200;
    font-style: italic;
    src: url(./LabilGroteskLite-FineItalic.woff) format("woff");
    font-display: block
}

@font-face {
    font-family: "Labil Grotesk";
    font-weight: 300;
    font-style: italic;
    src: url(./LabilGroteskLite-ThinItalic.woff) format("woff");
    font-display: block
}

@font-face {
    font-family: "Labil Grotesk";
    font-weight: 400;
    font-style: italic;
    src: url(./LabilGroteskLite-LightItalic.woff) format("woff");
    font-display: block
}

@font-face {
    font-family: "Labil Grotesk";
    font-weight: 500;
    font-style: italic;
    src: url(./LabilGroteskLite-RegularItalic.woff) format("woff");
    font-display: block
}

@font-face {
    font-family: "Labil Grotesk";
    font-weight: 600;
    font-style: italic;
    src: url(./LabilGroteskLite-MediumItalic.woff) format("woff");
    font-display: block
}

@font-face {
    font-family: "Labil Grotesk";
    font-weight: 700;
    font-style: italic;
    src: url(./LabilGroteskLite-BoldItalic.woff) format("woff");
    font-display: block
}

@font-face {
    font-family: "Labil Grotesk";
    font-weight: 800;
    font-style: italic;
    src: url(./LabilGroteskLite-BlackItalic.woff) format("woff");
    font-display: block
}

@font-face {    
    font-family: "Labil Grotesk Variable";
    font-display: block;
    src: url(./LabilGroteskLite-Variable.woff2) format("woff2-variations");
}

[data-family="Labil Grotesk"] {
    font-family: "Labil Grotesk"
}