---
import "../styles/globals.scss";
import { ClientRouter } from "astro:transitions";
const { pageTitle = "Astro" } = Astro.props;
import ThemeIcon from "../components/theme/ThemeIcon.astro";
import ThemeAccent from "../components/theme/ThemeAccent.astro";
import ThemeGray from "../components/theme/ThemeGray.astro";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
        <!-- <link rel="stylesheet" href="../styles/globals.scss" type="text/css" lang="scss" /> -->
		<title>{pageTitle}</title>
        <!-- <script is:inline>
            function setDarkMode(document) {
              let theme = localStorage.darkMode ? 'dark' : 'light';
              document.documentElement.dataset.theme = theme;
            }
          
            setDarkMode(document);
          
            document.addEventListener('astro:before-swap', event => {
              // Pass the incoming document to set the theme on it
              setDarkMode(event.newDocument);
            });
          </script> -->
          <ClientRouter />
	</head>
	<body>
    <ThemeIcon />
    <ThemeAccent />
    <ThemeGray />
		<slot />
	</body>
</html>
