
@font-face {
    font-family: "Victor Serif";
    font-weight: 100;
    font-style: normal;
    src: url(./VictorSerifLite-10Hairline.woff2) format("woff2");
    font-display: block
}

@font-face {
    font-family: "Victor Serif";
    font-weight: 100;
    font-style: italic;
    src: url(./VictorSerifLite-15HairlineItalic.woff2) format("woff2");
    font-display: block
}

@font-face {
    font-family: "Victor Serif";
    font-weight: 200;
    font-style: normal;
    src: url(./VictorSerifLite-20Thin.woff2) format("woff2");
    font-display: block
}

@font-face {
    font-family: "Victor Serif";
    font-weight: 200;
    font-style: italic;
    src: url(./VictorSerifLite-25ThinItalic.woff2) format("woff2");
    font-display: block
}

@font-face {
    font-family: "Victor Serif";
    font-weight: 300;
    font-style: normal;
    src: url(./VictorSerifLite-30Light.woff2) format("woff2");
    font-display: block
}

@font-face {
    font-family: "Victor Serif";
    font-weight: 300;
    font-style: italic;
    src: url(./VictorSerifLite-35LightItalic.woff2) format("woff2");
    font-display: block
}

@font-face {
    font-family: "Victor Serif";
    font-weight: 400;
    font-style: normal;
    src: url(./VictorSerifLite-40Regular.woff2) format("woff2");
    font-display: block
}

@font-face {
    font-family: "Victor Serif";
    font-weight: 400;
    font-style: italic;
    src: url(./VictorSerifLite-45RegularItalic.woff2) format("woff2");
    font-display: block
}

@font-face {
    font-family: "Victor Serif";
    font-weight: 500;
    font-style: normal;
    src: url(./VictorSerifLite-50Medium.woff2) format("woff2");
    font-display: block
}

@font-face {
    font-family: "Victor Serif";
    font-weight: 500;
    font-style: italic;
    src: url(./VictorSerifLite-55MediumItalic.woff2) format("woff2");
    font-display: block
}

@font-face {
    font-family: "Victor Serif";
    font-weight: 600;
    font-style: normal;
    src: url(./VictorSerifLite-60Semibold.woff2) format("woff2");
    font-display: block
}

@font-face {
    font-family: "Victor Serif";
    font-weight: 600;
    font-style: italic;
    src: url(./VictorSerifLite-65SemiboldItalic.woff2) format("woff2");
    font-display: block
}

@font-face {
    font-family: "Victor Serif";
    font-weight: 700;
    font-style: normal;
    src: url(./VictorSerifLite-70Bold.woff2) format("woff2");
    font-display: block
}

@font-face {
    font-family: "Victor Serif";
    font-weight: 700;
    font-style: italic;
    src: url(./VictorSerifLite-75BoldItalic.woff2) format("woff2");
    font-display: block
}

@font-face {
    font-family: "Victor Serif";
    font-weight: 800;
    font-style: normal;
    src: url(./VictorSerifLite-80Black.woff2) format("woff2");
    font-display: block
}

@font-face {
    font-family: "Victor Serif";
    font-weight: 800;
    font-style: italic;
    src: url(./VictorSerifLite-85BlackItalic.woff2) format("woff2");
    font-display: block
}

@font-face {
    font-family: "Victor Serif Variable";
    font-display: block;
    src: url(./VictorSerifLite-Variable.woff2) format("woff2-variations");
}